.ContactForm {
    width: 100%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
        margin: 10px 0px;
        &[for="name"],&[for="number"] {
            width: 40%;
        }

        &[for="email"], &[for="message"] {
            width: 100%;
        }
        
    }

    input, textarea, button {
        min-height: 4ch;
        padding-left: 10px;
        border: 1px solid var(--green);
        border-radius: 3px;
        &[id="name"],&[id="number"] {
            width: 40%;
        }
        
        &[id="email"], &[id="message"] {
            width: 100%;
            resize: vertical;
        }

        &[type="submit"] {
            background-color: var(--darkGreen);
            border: none;
            color: var(--myWhite);
            padding: 2%;
            font-weight: 700;
            margin-top: 10px;
            transition: all 0.25s ease-out;
            cursor: pointer;

            &:hover {
                background-color: var(--green);
            }
        }
    }
}

