.navbar {
    width: 100vw;
    background-color: var(--myWhite);
    height: 125px;
    display: flex;
    align-items: center;
}

.navbar>* {
    margin-right: 10px;
    margin-block: 0;
    vertical-align: middle;
}

.navbar>h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 10px;
}

.navbar>h2 {
    font-size: 1.2rem;
    font-weight: 500;
}